.heroSection {
  width: 100%;
  height: calc(100vh - 90px);
  background: #0d1116;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.heroimgearth {
  position: absolute;
  transform: rotate(7.809deg);
  left: 0;
  top: 10%;
}
.heroimgsatellite {
  position: absolute;
  width: 250px;
  transform: rotate(10deg);
  right: 8vh;
  top: 18vh;
}
.heading {
  z-index: 1;
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  text-align: center;
  background: -webkit-linear-gradient(
    left,
    rgba(0, 223, 216, 1),
    rgba(0, 124, 240, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtext {
  color: #9d9d9d;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .heroSection {
    height: 60vh;
  }
  .heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    width: 90%;
    margin-bottom: 10px;
  }
  .subtext {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 90%;
    line-height: 1.4;
    text-align: left;
  }
  .heroimgearth {
    /* position: absolute;
    transform: rotate(7.809deg);
    left: 35%;
    top: 45%;
    scale: 1.8; */
    display: none;
  }
  .heroimgsatellite {
    /* position: absolute;
    width: 200px;
    transform: rotate(10deg);
    right: 1vh;
    top: 5vh; */
    display: none;
  }
}
