.card {
  background: linear-gradient(
    111.68deg,
    rgba(221, 221, 221, 0.08) 78.43%,
    rgba(255, 255, 255, 0.18) 102.04%
  );
  border: 2px solid rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.imgBg{
  display: flex;
      align-items: center;
      justify-content: center;
      min-height: 150px;
      min-width: 150px;
    background: linear-gradient(111.68deg, rgba(221, 221, 221, 0.15) 7.59%, rgba(221, 221, 221, 0.3) 102.04%);
    border: 1.22951px solid rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(13.5246px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 122.951px;
  }


.img{
  border: 1.22951px solid rgba(255, 255, 255, 0.25);
backdrop-filter: blur(3.07377px);
border-radius: 50%;
}
.img:hover{
cursor: pointer;
}

.imgBg::before{
content: '';
/* transform: translate(-7px,-7px); */
width: 110%;
height: 110%;
min-width: 110%; /* Minimum width */
min-height: 110%;
background: linear-gradient(111.68deg, rgba(221, 221, 221, 0.15) 7.59%, rgba(221, 221, 221, 0.3) 102.04%);
/* border: 1.22951px solid rgba(255, 255, 255, 0.28); */
backdrop-filter: blur(13.5246px);
border-radius: 50%;
}

.imgBg:hover::before{
width: 100%; /* Minimum width */
height: 100%;
border-top: 4px solid rgba(41, 163, 0, 0.23);
border-right: 4px solid rgba(0, 145, 89, 0.651);
border-left: 4px solid rgba(1, 133, 122, 0.759);
border-bottom: 4px solid rgba(0, 161, 176, 0.796);
backdrop-filter: blur(13.5246px);
animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
/* .cardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 5rem;
  justify-items: center;
  max-width: calc(4 * (250px + 2rem));
  margin-inline: auto;
} */

.cardContainer{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  gap: 2.5rem;
}

.socials {
  @apply flex justify-around items-center w-full z-10 mt-4 mb-2;
}

.socials > a:hover > svg {
  fill: #00dfd8;
}