@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caladea:ital@1&family=Dancing+Script:wght@700&family=Merriweather:ital@1&family=PT+Serif&family=Poppins&display=swap');
.eventBanner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.eventWrapper{
    display: flex;
    width: 80%;
    gap: 1rem;
    padding: 10px;
    border: 1.22951px solid rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(20.5246px);
    border-radius: 122.951px;
    background: linear-gradient(111.68deg, rgba(221, 221, 221, 0.15) 7.59%, rgba(221, 221, 221, 0.3) 102.04%);
    border-radius: 12px;
}
.eventDetails{
    width: 98%;
}
.imgBanner{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
   height: auto;
    min-width: 250px;
}
.eventHeading{
    font-family: 'Bacasime Antique', serif;
    padding: 20px 10px 10px  10px;
    font-size: clamp(2rem,3vw,4rem);
    font-weight: 500;  
    color: white;
}
.eventHeading p{
    font-size: 24px;
    font-weight: 400;
}
.eventPara{
    color: white;
    padding: 10px;
    font-size: clamp(1rem,1.5vw,1.5rem);
}
.img{
    border-radius: 10px;
}
.eventBottom{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 3rem;
}
.eventButton{
    display: flex;
   align-items: center;
   justify-content: center;
}
.btn{
background-color: black;
color: white;
width: 8rem;
padding: 15px 5px;
border-radius: 5px;
border: 2px solid purple;
margin-top: -10px;
/* box-shadow: rgba(227, 13, 13, 0.19) 0px 8px 20px, rgba(222, 13, 13, 0.23) 0px 6px 6px; */
}
@media(max-width:1000px){
    .eventWrapper{
        flex-direction: column;
        width: 100%;
    }
    .eventBanner{
        padding: 0;
        gap: 0;
    }
    .imgBanner{
        width: auto;
    }
    .eventHeading{
        text-align: center;
    }
    .eventBottom{
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-width:600px){
    .eventBottom{
        flex-direction: column;
        justify-content: center;
    }
}