.card{
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1em 2em rgb(0 0 0 / 0.2);
    border-radius: 2.5%;
    border: 0.5px solid white;
}
.underline{
    background-color: hsl(203, 100%, 57%);
    height: 5px;
    width: 150px;
    padding-bottom:0.8em ;
    margin-left: 1.2em;
}
.cardBody{
    /* bottom: 0; */
    width: 100%;
    height: 50%;
    position: absolute;
    top: 80%;
    transition:  ease 550ms;
    transition-delay: 300ms;
    background: linear-gradient(
        rgb(0 0 0 / 0),
        rgb(0 0 0 / 0.65) 15%,
        rgb(0 0 0 / 1)
      );

}
.cardTitle{
    padding-top: 1.6em;
    padding-bottom: 0.8em;
     font-size: 1.2em;
     padding-left: 1.2em;
}
.cardBody p {
    margin-bottom: 1.25em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 1.2em;
}
.button{
    margin-left: 1.4em;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: black;
    background: hsl(203, 100%, 57%);
    padding: 0.5em 1.25em;
    border-radius: 0.25rem;
}

.card:hover {
    transform: scale(1.05);
}
.card:hover  {
    .cardBody{
        transition: 1000ms;
        top: 50%;
    }
    .card{
        scale: 1.2;
    }
    .underline{
        transform: scaleX(100%);
        transition: 600ms;
    }
}


@media(max-width:500px){

    .pastCard{
        margin: 0;
        width: 100%;
    }
}
